.app {
  background-image: url(./Components/foodTable.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 40px 0px 0px 0px;
  text-align: center;
}

.searchAppend {
  display: flex;
  justify-content: space-around;
  min-height: 50vh;
}

#more {
  margin-top: 25px;
}

.material-icons.md-72 {
  font-size: 72px;
}
.fa-share-square {
  color: black;
  margin-left: 6px;
}
.fa-share-square:hover {
  font-size: 22px;
}
.item {
  font-size: 14px;
}

.image {
  margin-top: 20px;
}
.card-title {
  color: black;
}
.card-text {
  color: black;
}
.card-des {
  font-family: monospace;
  color: black;
  font-size: 14px;
}
.fa-share-alt-square {
  font-size: 28px;
  color: black;
  margin-left: 6px;
}
.descrip {
  background-color: rgb(32, 32, 32);
  color: #fff;
  padding: 8px 0px;
  border-radius: 6px;
}
.fa-external-link {
  margin-left: 4px;
}
.footer {
  padding: 50px 0px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, .98);
  color: #fff;
}

.footer {
  font-size: 24px;
}